/* Components */
.base-button {
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
.base-button i {
  padding: 0 3px;
}

.dropdown {
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.notifications .alert {
  position: fixed;
  z-index: 10000;
}
.notifications .alert[data-notify=container] {
  max-width: 500px;
}
.notifications .alert.center {
  margin: 0 auto;
}
.notifications .alert.left {
  left: 20px;
}
.notifications .alert.right {
  right: 20px;
}

/*end of component*/
.main-wrapper {
  position: inherit !important;
}

.navbar-vertical {
  z-index: 2;
  background: #0A0B1C 0% 0% no-repeat padding-box !important;
  border: 0.200000003px solid #FFFFFF80;
}

.category-header {
  position: relative;
  color: #fff;
  padding-left: 15px;
  margin-top: 15px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 10px;
  margin-bottom: 0;
  font-size: 1.2rem;
}
.category-header::before {
  content: "";
  background: #DF1B1B 0% 0% no-repeat padding-box;
  border-radius: 3px;
  width: 4px;
  position: absolute;
  left: 0;
  height: 17px;
  top: 4px;
}

.main-header-row {
  flex: auto;
}
.main-header-row .login-btn {
  width: 122px;
  height: 35px;
  border: 1px solid #FFFFFF;
  border-radius: 18px;
  color: #fff;
  font-size: 15px;
  padding-top: 4px;
  font-weight: 300;
}
.main-header-row .nav-item a i {
  font-size: 25px;
}
.main-header-row .nav-item a svg {
  font-size: 25px;
}
.main-header-row .nav-item a button {
  background-color: transparent !important;
  box-shadow: none;
  padding: 0;
  font-weight: 400;
  border: medium none;
  width: 120px;
  text-align: left;
}
.main-header-row .nav-item a.sub-dropdown {
  padding: 0;
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally .card-header {
  border-bottom: none;
  padding: 0 13px;
  overflow: hidden;
  height: 31px;
}
.game-tally .card-header:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-link {
  font: normal normal bold 13px/17px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: medium none;
  padding: 6px 0;
  border-radius: 0;
}
.game-tally .card-header .nav-tabs .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border: medium none !important;
}
.game-tally .card-header .nav-tabs .nav-item {
  margin-bottom: -1px;
  flex-basis: 14.286%;
  text-align: center;
  border-right: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-item:last-child {
  border-right: medium none;
}
.game-tally table td {
  color: #fff;
}
.game-tally table td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table th {
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}
.game-tally .tab-pane.card-body {
  padding: 0 1.5rem;
}

body {
  font-family: "Assistant", sans-serif !important;
  height: 100vh;
  overflow: hidden;
  background-color: #000115 !important;
  color: #fff !important;
}

.main-content-wrapper {
  height: 92vh;
  overflow-x: hidden;
  width: 101.5%;
  position: relative;
}
.main-content-wrapper .main-content {
  width: 98.5%;
}

.betting-card-items {
  height: 62.7vh;
}

.betting-card-actions {
  bottom: 0;
  position: absolute;
}

/*Leftsidebar*/
.left-sidebar {
  height: 100vh;
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-left: medium none !important;
}
.left-sidebar hr {
  margin-top: 1.5rem;
  margin-bottom: 0;
  border: 0;
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  width: 100%;
}
.left-sidebar .left-sidebar-mainctrl button {
  background: #000115 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF66;
  border-radius: 18px;
  font: normal normal normal 10px/14px Assistant;
  letter-spacing: 0px;
  color: #666773;
  height: 22px;
  padding: 0 10px;
}
.left-sidebar .left-sidebar-mainctrl button:hover {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  color: #fff;
}
.left-sidebar ul li {
  width: 100%;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  padding: 8px 0;
}
.left-sidebar ul li a {
  color: #fff;
  font-size: 15px;
}
.left-sidebar ul li a:hover {
  color: #DF1B1B;
}
.left-sidebar ul li a img {
  width: 15px;
  height: 15px;
  margin-right: 5px;
}
.left-sidebar ul li a.nav-link {
  padding-left: 0;
  padding-right: 0;
}

/* Right Sidebar */
.sidebar-right {
  border: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-right: medium none !important;
  float: right;
  min-height: 100vh;
}
.sidebar-right .card {
  border-radius: 0;
  background-color: transparent;
}
.sidebar-right .card.betting-card .card-body {
  padding: 10px 0 8px;
  border-radius: 0;
  border: medium none;
  justify-content: space-between;
}
.sidebar-right .card.betting-card .card-body.card-content {
  padding-left: 2rem;
  padding-right: 2rem;
}
.sidebar-right .card.betting-card .card-body input::-webkit-outer-spin-button,
.sidebar-right .card.betting-card .card-body input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
.sidebar-right .card.betting-card .card-body input[type=number] {
  -moz-appearance: textfield;
}
.sidebar-right .card.betting-card .card-body .input-group {
  background: #00011580 0% 0% no-repeat padding-box;
  border: 0.5px solid #FFFFFF;
  border-radius: 18px;
  width: 90px;
  height: 29px;
}
.sidebar-right .card.betting-card .card-body .input-group button {
  padding: 0 10px;
  border: medium none;
  color: #fff;
  height: 25px;
}
.sidebar-right .card.betting-card .card-body .input-group input {
  text-align: center;
  color: #fff;
}
.sidebar-right .card.betting-card .card-body .input-group .input-group-prepend,
.sidebar-right .card.betting-card .card-body .input-group .form-control {
  background: transparent;
  border: medium none;
  height: 29px;
  width: 30px;
}
.sidebar-right .card.betting-card .card-body .input-group .form-control {
  padding-top: 5px;
}
.sidebar-right .card.betting-card .card-header {
  background: rgba(255, 255, 255, 0.05) 0% 0% no-repeat padding-box;
  border: 1px solid rgba(112, 112, 112, 0.05);
  border-radius: 0;
  padding: 10px 20px;
  margin-left: -1px;
}
.sidebar-right .card.betting-card .card-header .card-title {
  font-size: 17px;
  width: 80%;
  line-height: 17px;
}
.sidebar-right .card.betting-card .card-header .card-subtitle {
  font-size: 14px;
  width: 80%;
  line-height: 14px;
  color: rgba(255, 255, 255, 0.7);
}
.sidebar-right .card.betting-card button.close {
  color: #fff;
  position: absolute;
  top: 25px;
  font-size: 12px;
  right: 25px;
  opacity: 1;
}
.sidebar-right .card.betting-card .card-footer {
  background-color: transparent;
}
.sidebar-right .card.betting-card .card-footer button {
  background: #000115 0% 0% no-repeat padding-box;
  border: 1px solid #FFFFFF66;
  border-radius: 18px;
  font: normal normal normal 10px/14px Assistant;
  letter-spacing: 0px;
  color: #666773;
  height: 22px;
  padding: 0 10px;
}
.sidebar-right .card.betting-card .card-footer button.active {
  color: #fff;
  background-color: #DF1B1B;
  border: medium none;
}
.sidebar-right .bet-settings button {
  color: rgba(255, 255, 255, 0.5);
  border: 0;
}
.sidebar-right .text-danger {
  font-size: 12px;
}
.sidebar-right .text-success {
  color: #1DD536;
}
.sidebar-right .text-danger {
  color: #DF1B1B;
}
.sidebar-right .bg-danger {
  color: #fff;
  border: medium none;
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 18px;
}
.sidebar-right .bg-transparent {
  color: #fff;
  border-radius: 18px;
}
.sidebar-right .integrated {
  font-size: 15px;
}
.sidebar-right .category-header {
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 10px;
}
.sidebar-right.navbar-vertical {
  padding-top: 0;
  overflow: hidden;
}
.sidebar-right.navbar-vertical .navbar-collapse::before {
  display: none;
}
.sidebar-right.navbar-vertical .navbar-collapse .category-header {
  margin-bottom: 10px;
  padding-bottom: 8px;
}
.sidebar-right .bet-action-wrapper button {
  height: 29px;
  font-size: 13px;
  padding-top: 5px;
  font-weight: 300;
}
.sidebar-right .bet-action-wrapper .bet-limit-wrapper span {
  color: rgba(255, 255, 255, 0.7);
  font-size: 15px;
}
.sidebar-right .betprofit-amount-total {
  border-top: 1px solid rgba(255, 255, 255, 0.25);
  border-bottom: 1px solid rgba(255, 255, 255, 0.25);
  padding-bottom: 15px;
  margin-top: 15px;
}
.sidebar-right .betprofit-amount-total .profit-amount,
.sidebar-right .betprofit-amount-total .bet-amount {
  color: #666773;
}

.sports-nav-category {
  margin: 0 auto;
  flex-basis: 100%;
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
  justify-content: space-between;
}
.sports-nav-category.nav .nav-item {
  text-align: center;
  position: relative;
  padding: 15px 10px !important;
}
.sports-nav-category.nav .nav-item .nav-link {
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.sports-nav-category.nav .nav-item .nav-link:hover {
  color: #fff;
}
.sports-nav-category.nav .nav-item:last-child::after {
  display: none;
}
.sports-nav-category.nav .nav-item::after {
  content: "";
  width: 1px;
  height: 35px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
}
.sports-nav-category.nav .nav-item span.icon img {
  width: 22px;
  margin-bottom: 7px;
}
.sports-nav-category.nav .nav-item span.text {
  line-height: 15px;
  font-size: 15px;
  text-align: left;
}

.top-nav-category {
  margin: 0 auto;
  flex-basis: 66.66667%;
  width: 70%;
  justify-content: center;
  height: 65px;
}
.top-nav-category .nav-item {
  position: relative;
}
.top-nav-category .nav-item.top-nav-item {
  padding: 0 1rem;
}
.top-nav-category .nav-item.active a::after {
  content: "";
  position: absolute;
  bottom: 0;
  background-color: #DF1B1B;
  border-radius: 2px;
  height: 3px;
  width: 60%;
  left: 20%;
}
.top-nav-category .nav-item .nav-link {
  color: #fff;
  padding-top: 0px;
  padding-bottom: 0px;
}
.top-nav-category .nav-item .nav-link:hover {
  color: #fff;
}
.top-nav-category .nav-item:last-child::after {
  display: none;
}
.top-nav-category .nav-item::after {
  content: "";
  width: 1px;
  height: 35px;
  background-color: #fff;
  display: block;
  position: absolute;
  top: 15px;
  right: 0;
}
.top-nav-category .nav-item span.icon img {
  width: 22px;
}
.top-nav-category .nav-item span.text {
  width: 50px;
  line-height: 15px;
  font-size: 15px;
  text-align: left;
}

#profile .modal-dialog {
  max-width: 1098px;
}
#profile .modal-dialog .modal-content {
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #FFFFFF4D;
  border-radius: 21px;
}
#profile .modal-dialog .modal-content .modal-header {
  padding: 0;
}
#profile .modal-dialog .modal-content .modal-header button {
  position: absolute;
  right: -21px;
  color: #fff;
  padding: 0;
  font-size: 42px;
  height: 21px;
  width: 21px;
  line-height: 21px;
  opacity: 1;
  top: -5px;
}
#profile .modal-dialog .modal-content .modal-body {
  padding: 0;
}
#profile .modal-dialog .modal-content .modal-body .accountInfo {
  background: rgba(255, 255, 255, 0.04) 0% 0% no-repeat padding-box;
}
#profile .modal-dialog .modal-content .card {
  background-color: transparent !important;
  box-shadow: none !important;
}
#profile .modal-dialog .modal-content .card .tabs .card-header {
  background-color: transparent;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
#profile .modal-dialog .modal-content .card .tabs .card-header .card-header-pills .nav-item .nav-link {
  font: normal normal 300 17px/22px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  height: 39px;
  padding: 7px;
}
#profile .modal-dialog .modal-content .card .tabs .card-header .card-header-pills .nav-item .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  color: #fff;
  border-color: #DF1B1B;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper,
#profile .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper {
  padding: 23px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper h4,
#profile .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper h4 {
  font: normal normal 300 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper span,
#profile .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper span {
  font: normal normal 300 18px/24px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper {
  padding: 23px 0 0;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper h4 {
  font: normal normal 300 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table thead th {
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 5px;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td {
  font: normal normal 300 17px/22px Assistant;
  letter-spacing: 0px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  padding: 5px;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:first-child, #profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:last-child {
  color: rgba(255, 255, 255, 0.5);
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:nth-child(2) {
  color: #1DD536;
}
#profile .modal-dialog .modal-content .card .tabs .tab-content .crypto-wrapper ul {
  list-style: none;
  width: 100%;
}
#profile .modal-dialog .modal-content .card .card-body {
  padding: 0 !important;
}
#profile .modal-dialog .modal-content .card .card-body form input.form-control {
  border: 1px solid #FFFFFF80;
  border-radius: 28px;
  background-color: transparent;
  padding: 15px 20px;
  height: 55px;
}
#profile .modal-dialog .modal-content .card .card-body form input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#profile .modal-dialog .modal-content .card .card-body form input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#profile .modal-dialog .modal-content .card .card-body form input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#profile .modal-dialog .modal-content .card .card-body form button.btn-danger {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  border-radius: 28px;
  width: 199px;
  height: 55px;
}
#profile .modal-dialog .modal-content .card img {
  text-align: center;
}
#profile .modal-dialog .modal-content .card h3 {
  font: normal normal 800 25px/33px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  #profile .modal-dialog {
    margin: 15vh auto;
  }
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box !important;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally table tbody td {
  color: #fff;
}
.game-tally table tbody td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table tbody td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 20px;
  padding-right: 20px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  vertical-align: middle;
}
.game-tally table.table td:last-child {
  padding-right: 2rem;
}
.game-tally table.table td:first-child {
  padding-left: 2rem;
}
.game-tally table.table td .bg-black {
  background-color: #000;
  padding: 5px 10px;
}
.game-tally table.table td button {
  color: rgba(112, 112, 112, 0.3);
  border: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table td button i {
  font-size: 8px;
  padding-bottom: 3px;
  opacity: 0.4;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table.table .thead-dark th:first-child, .game-tally table.table tbody th:first-child {
  padding-left: 2rem;
}
.game-tally table.table .thead-dark th:last-child, .game-tally table.table tbody th:last-child {
  padding-right: 2rem;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally .card-header {
  border-bottom: none;
  padding: 0 13px;
  overflow: hidden;
  height: 31px;
}
.game-tally .card-header:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-link {
  font: normal normal bold 13px/17px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: medium none;
  padding: 6px 0;
  border-radius: 0;
}
.game-tally .card-header .nav-tabs .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border: medium none !important;
}
.game-tally .card-header .nav-tabs .nav-item {
  margin-bottom: -1px;
  flex-basis: 14.286%;
  text-align: center;
  border-right: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-item:last-child {
  border-right: medium none;
}
.game-tally table td {
  color: #fff;
}
.game-tally table td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table th {
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}
.game-tally .tab-pane.card-body {
  padding: 0 1.5rem;
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally .card-header {
  border-bottom: none;
  padding: 0 13px;
  overflow: hidden;
  height: 31px;
}
.game-tally .card-header:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-link {
  font: normal normal bold 13px/17px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: medium none;
  padding: 6px 0;
  border-radius: 0;
}
.game-tally .card-header .nav-tabs .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border: medium none !important;
}
.game-tally .card-header .nav-tabs .nav-item {
  margin-bottom: -1px;
  flex-basis: 14.286%;
  text-align: center;
  border-right: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-item:last-child {
  border-right: medium none;
}
.game-tally table td {
  color: #fff;
}
.game-tally table td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table th {
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}
.game-tally .tab-pane.card-body {
  padding: 0 1.5rem;
}

.sigle-prematch-event .header-toggle {
  background-color: transparent !important;
  border: medium none;
  border-bottom: 1px solid rgba(255, 255, 255, 0.25) !important;
  border-radius: 0;
  width: 100%;
  text-align: left;
  padding: 0;
  line-height: 18px;
  margin-bottom: 15px;
}
.sigle-prematch-event .header-toggle h6 {
  font-size: 18px;
  color: #fff;
  font-weight: 300;
  position: relative;
  padding-left: 15px;
  margin-bottom: 5px;
}
.sigle-prematch-event .header-toggle h6::before {
  content: "";
  background: #DF1B1B 0% 0% no-repeat padding-box;
  border-radius: 3px;
  width: 4px;
  position: absolute;
  left: 0;
  height: 18px;
  top: 5px;
}
.sigle-prematch-event .header-toggle h6 svg {
  width: 8px;
  float: right;
  margin-right: 10px;
  margin-top: 5px;
}
.sigle-prematch-event .body-toggle .row .col-lg-4 {
  flex: 0 0 30.33333%;
  max-width: 30.33333%;
}
.sigle-prematch-event .body-toggle .row .col-lg-6 {
  flex: 0 0 46%;
  max-width: 46%;
}
.sigle-prematch-event .body-toggle .row .col-lg-4,
.sigle-prematch-event .body-toggle .row .col-lg-6 {
  background: #1B1C2C 0% 0% no-repeat padding-box;
  border-radius: 10px;
  font: normal normal normal 15px/30px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  height: 31px;
  text-align: center;
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally .card-header {
  border-bottom: none;
  padding: 0 13px;
  overflow: hidden;
  height: 31px;
}
.game-tally .card-header:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-link {
  font: normal normal bold 13px/17px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: medium none;
  padding: 6px 0;
  border-radius: 0;
}
.game-tally .card-header .nav-tabs .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border: medium none !important;
}
.game-tally .card-header .nav-tabs .nav-item {
  margin-bottom: -1px;
  flex-basis: 14.286%;
  text-align: center;
  border-right: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-item:last-child {
  border-right: medium none;
}
.game-tally table td {
  color: #fff;
}
.game-tally table td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table th {
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}
.game-tally .tab-pane.card-body {
  padding: 0 1.5rem;
}

.game-tally {
  width: 100%;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid rgba(255, 255, 255, 0.25);
  border-radius: 20px;
}
.game-tally .card-header {
  border-bottom: none;
  padding: 0 13px;
  overflow: hidden;
  height: 31px;
}
.game-tally .card-header:first-child {
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  background: #0A0B1C 0% 0% no-repeat padding-box;
  border: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-link {
  font: normal normal bold 13px/17px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  border: medium none;
  padding: 6px 0;
  border-radius: 0;
}
.game-tally .card-header .nav-tabs .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border: medium none !important;
}
.game-tally .card-header .nav-tabs .nav-item {
  margin-bottom: -1px;
  flex-basis: 14.286%;
  text-align: center;
  border-right: 1px solid #484855;
}
.game-tally .card-header .nav-tabs .nav-item:last-child {
  border-right: medium none;
}
.game-tally table td {
  color: #fff;
}
.game-tally table td .btn-bet-action {
  border: 0.3000000119px solid #FFFFFF;
  border-radius: 2px;
  width: 39px;
  height: 17px;
  padding: 0;
  background-color: transparent !important;
  color: #fff !important;
  font-size: 13px;
  font-weight: 300;
  line-height: 13px;
}
.game-tally table td .btn-bet-action.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-radius: 2px;
  border: medium none;
}
.game-tally table.table {
  color: #fff;
}
.game-tally table.table td {
  padding-left: 5px;
  padding-right: 5px;
  width: 40px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.game-tally table.table th {
  font-weight: 300;
  padding-left: 5px;
  padding-right: 5px;
}
.game-tally table.table .thead-dark th, .game-tally table.table tbody th {
  background-color: transparent;
  color: #fff;
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-transform: capitalize;
  font-size: 13px;
  font-weight: 300;
}
.game-tally table .pipe-red {
  color: #DF1B1B;
}
.game-tally .tab-pane.card-body {
  padding: 0 1.5rem;
}

.pipe-divider {
  font-size: 32px;
  line-height: 32px;
  font-weight: 300;
  color: rgba(255, 255, 255, 0.25);
}

.profile-description .modal .modal-dialog {
  max-width: 1098px;
}
.profile-description .modal .modal-dialog .modal-content {
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #FFFFFF4D;
  border-radius: 21px;
}
.profile-description .modal .modal-dialog .modal-content .modal-header {
  padding: 0;
}
.profile-description .modal .modal-dialog .modal-content .modal-header button {
  position: absolute;
  right: -21px;
  color: #fff;
  padding: 0;
  font-size: 42px;
  height: 21px;
  width: 21px;
  line-height: 21px;
  opacity: 1;
  top: -5px;
}
.profile-description .modal .modal-dialog .modal-content .modal-body {
  padding: 0;
}
.profile-description .modal .modal-dialog .modal-content .modal-body .accountInfo {
  background: rgba(255, 255, 255, 0.04) 0% 0% no-repeat padding-box;
}
.profile-description .modal .modal-dialog .modal-content .card {
  background-color: transparent !important;
  box-shadow: none !important;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .card-header {
  background-color: transparent;
  border-bottom: medium none;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .card-header .card-header-pills .nav-item .nav-link {
  font: normal normal 300 17px/22px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
  background-color: transparent;
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  height: 39px;
  padding: 7px;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .card-header .card-header-pills .nav-item .nav-link.active {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  color: #fff;
  border-color: #DF1B1B;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .card-header ul {
  width: 60%;
  margin: 0 auto;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper,
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper {
  padding: 23px 0;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper h4,
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper h4 {
  font: normal normal 300 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .withdraw-wrapper span,
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .deposit-wrapper span {
  font: normal normal 300 18px/24px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper {
  padding: 23px 0 0;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper h4 {
  font: normal normal 300 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table thead th {
  border-top: medium none;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  text-align: left;
  text-decoration: underline;
  font: normal normal bold 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  text-transform: capitalize;
  padding: 5px;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td {
  font: normal normal 300 17px/22px Assistant;
  letter-spacing: 0px;
  border-bottom: 1px solid rgba(112, 112, 112, 0.3);
  padding: 5px;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:first-child, .profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:last-child {
  color: rgba(255, 255, 255, 0.5);
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .wallet-action-wrapper .table tbody td:nth-child(2) {
  color: #1DD536;
}
.profile-description .modal .modal-dialog .modal-content .card .tabs .tab-content .crypto-wrapper ul {
  list-style: none;
  width: 100%;
}
.profile-description .modal .modal-dialog .modal-content .card .card-body {
  padding: 0 !important;
}
.profile-description .modal .modal-dialog .modal-content .card .card-body form input.form-control {
  border: 1px solid #FFFFFF80;
  border-radius: 28px;
  background-color: transparent;
  padding: 15px 20px;
  height: 55px;
}
.profile-description .modal .modal-dialog .modal-content .card .card-body form input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.profile-description .modal .modal-dialog .modal-content .card .card-body form input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.profile-description .modal .modal-dialog .modal-content .card .card-body form input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
.profile-description .modal .modal-dialog .modal-content .card .card-body form button.btn-danger {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  border-radius: 28px;
  width: 199px;
  height: 55px;
}
.profile-description .modal .modal-dialog .modal-content .card img {
  text-align: center;
}
.profile-description .modal .modal-dialog .modal-content .card h3 {
  font: normal normal 800 25px/33px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.profile-description .modal .modal-dialog .modal-content .card .card-text {
  text-align: center;
  font: normal normal normal 20px/23px Assistant;
  letter-spacing: 0px;
  color: #707070;
  padding: 20px 20px 50px;
}
@media (min-width: 576px) {
  .profile-description .modal .modal-dialog {
    margin: 15vh auto;
  }
}

.history-wrapper h4 {
  font: normal normal normal 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.history-wrapper .bet-history-type-btn-wrapper button {
  border: 0.5px solid #FFFFFF;
  border-radius: 28px !important;
  color: rgba(255, 255, 255, 0.7);
  height: 30px;
  width: 94px;
  font-size: 13px;
  margin-right: 8px;
  padding: 5px;
  background-color: transparent;
  font-weight: 300 !important;
}
.history-wrapper .bet-history-type-btn-wrapper button.active {
  background: #DF1B1B 0% 0% no-repeat padding-box !important;
  border-color: #DF1B1B !important;
  color: #fff !important;
}
.history-wrapper .choose-option {
  width: 255px;
  height: 30px;
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  background-color: transparent;
  font-weight: 300 !important;
  float: right;
  color: rgba(255, 255, 255, 0.5);
}
.history-wrapper .page-option-label label {
  font: normal normal 300 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  padding: 0;
  flex: 0 0 18%;
  max-width: 18%;
  font-weight: 300 !important;
}
.history-wrapper .page-option-label select {
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  width: 52px;
  height: 30px;
  background-color: transparent;
  color: rgba(255, 255, 255, 0.5);
}
.history-wrapper .search-bet-wrapper {
  width: 255px;
  float: right;
}
.history-wrapper .search-bet-wrapper label {
  display: none;
}
.history-wrapper .search-bet-wrapper input {
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  background-color: transparent;
  padding: 5px 10px;
  width: 216px;
  height: 30px;
  color: rgba(255, 255, 255, 0.5);
}
.history-wrapper .search-bet-wrapper .input-group {
  right: 20px;
}
.history-wrapper .search-bet-wrapper .input-group-text {
  background-color: transparent;
  border: 0.5px solid #FFFFFF;
  border-left: medium none;
  border-top-right-radius: 28px !important;
  border-bottom-right-radius: 28px !important;
}
.history-wrapper .table thead th {
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  letter-spacing: 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  border-top: medium none;
  color: #fff;
  font-size: 17px;
  font-weight: 300;
}
.history-wrapper .table tbody td {
  padding-top: 5px;
  padding-bottom: 5px;
  text-transform: capitalize;
  letter-spacing: 0;
  border-bottom: 0.5px solid rgba(255, 255, 255, 0.3);
  border-top: medium none;
  color: #fff;
  font-size: 175x;
  font-weight: 300;
}
.history-wrapper .table tbody td h6 {
  font-size: 15px;
  color: #fff;
  text-align: center;
  background: rgba(255, 255, 255, 0.1) 0% 0% no-repeat padding-box;
  padding: 4px 0;
}
.history-wrapper .table tbody tr:last-child td {
  border-bottom: medium none;
}
.history-wrapper .pagination {
  margin-top: 15px !important;
}
.history-wrapper .pagination .page-item {
  background-color: transparent;
  border: medium none;
  color: #fff;
  font-size: 21px;
  display: none !important;
  height: 20px;
  width: 55px;
  margin-left: 10px;
}
.history-wrapper .pagination .page-item:first-child, .history-wrapper .pagination .page-item:last-child {
  border: 1px solid #707070;
  border-radius: 10px;
  display: block !important;
}
.history-wrapper .pagination .page-item .page-link {
  width: 55px;
  height: 15px;
  line-height: 24px;
  background-color: transparent;
  border: medium none;
  font-size: 24px;
  color: #fff;
}

.poker-wrapper hr {
  height: 0.5px;
  background-color: rgba(112, 112, 112, 0.3);
}
.poker-wrapper h4 {
  font: normal normal bold 20px/27px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
  margin-bottom: 0;
}
.poker-wrapper h4.poker-title {
  color: #DF1B1B !important;
}
.poker-wrapper label {
  font: normal normal normal 17px/13px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.7);
  margin-bottom: 0;
}

.profile-details input.form-control {
  border: 0.5px solid #FFFFFF;
  border-radius: 28px;
  width: 338px;
  height: 40px !important;
}
.profile-details form label {
  width: 136px;
  justify-content: flex-start;
  font: normal normal normal 20px/27px Assistant;
  letter-spacing: 0px;
}
.profile-details form button {
  height: 40px !important;
  width: 338px !important;
  font-size: 15px;
}

.account-info hr {
  height: 1px;
  background-color: rgba(112, 112, 112, 0.3);
}
.account-info .img-profile img {
  border: 1px solid #DF1B1B;
  padding: 5px;
}
.account-info .name {
  font: normal normal normal 25px/33px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.account-info .total-balance {
  text-decoration: underline;
  font: normal normal 800 25px/33px Assistant;
  letter-spacing: 0px;
  color: #1DD536;
}
.account-info .last-login,
.account-info .signup-text {
  font: normal normal 300 25px/33px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
.account-info .last-login-date,
.account-info .signup-date {
  font: normal normal 300 18px/24px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
}
.account-info .logout {
  text-decoration: underline;
  font: normal normal normal 18px/24px Assistant;
  letter-spacing: 0px;
  color: rgba(255, 255, 255, 0.5);
}

.wallet table .row-deposit td:nth-child(2) {
  color: #DF1B1B !important;
}

#login .modal .modal-dialog {
  max-width: 750px;
}
#login .modal .modal-dialog .modal-content {
  background: #000000 0% 0% no-repeat padding-box;
  box-shadow: 0px 3px 25px #FFFFFF4D;
  border-radius: 21px;
}
#login .modal .modal-dialog .modal-content .modal-header {
  padding: 0;
}
#login .modal .modal-dialog .modal-content .modal-header button {
  position: absolute;
  right: -21px;
  color: #fff;
  padding: 0;
  font-size: 42px;
  height: 21px;
  width: 21px;
  line-height: 21px;
  opacity: 1;
  top: -5px;
}
#login .modal .modal-dialog .modal-content .modal-body {
  padding: 2.25rem 1.5rem 1.5rem;
}
#login .modal .modal-dialog .modal-content .card {
  background-color: transparent !important;
  box-shadow: none !important;
}
#login .modal .modal-dialog .modal-content .card .card-body {
  padding: 0 6.78rem !important;
}
#login .modal .modal-dialog .modal-content .card .card-body form input.form-control {
  border: 1px solid #FFFFFF80;
  border-radius: 28px;
  background-color: transparent;
  padding: 15px 20px;
  height: 55px;
}
#login .modal .modal-dialog .modal-content .card .card-body form input.form-control::-moz-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#login .modal .modal-dialog .modal-content .card .card-body form input.form-control:-ms-input-placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#login .modal .modal-dialog .modal-content .card .card-body form input.form-control::placeholder {
  color: rgba(255, 255, 255, 0.5);
}
#login .modal .modal-dialog .modal-content .card .card-body form button.btn-danger {
  background: #DF1B1B 0% 0% no-repeat padding-box;
  border-radius: 28px;
  width: 199px;
  height: 55px;
}
#login .modal .modal-dialog .modal-content .card img {
  text-align: center;
}
#login .modal .modal-dialog .modal-content .card h3 {
  font: normal normal 800 25px/33px Assistant;
  letter-spacing: 0px;
  color: #FFFFFF;
}
@media (min-width: 576px) {
  #login .modal .modal-dialog {
    margin: 15vh auto;
  }
}

.pre-match-country {
  margin-top: 10px;
  font-size: 11px;
  display: flex;
}
.pre-match-country .flag-left {
  flex-basis: 26px;
  text-align: center;
  flex-direction: start;
}
.pre-match-country .flag-left img {
  display: block;
  margin: 0 auto;
}
.pre-match-country .middle-box-vs {
  flex-basis: 80%;
  text-align: center;
  padding: 6px;
  font-size: 15px;
  position: relative;
}
.pre-match-country .middle-box-vs::before {
  content: "";
  width: 37%;
  height: 1px;
  left: 10px;
  top: 18px;
  background-color: #fff;
  position: absolute;
}
.pre-match-country .middle-box-vs::after {
  content: "";
  width: 37%;
  height: 1px;
  right: 10px;
  top: 18px;
  background-color: #fff;
  position: absolute;
}
.pre-match-country .flag-right {
  flex-basis: 26px;
  text-align: center;
  flex-direction: end;
}
.pre-match-country .flag-right img {
  display: block;
  margin: 0 auto;
}

.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}

.pre-match-card {
  border-radius: 18px !important;
  background: transparent url("/img/soccer.jpg") 0 0/cover no-repeat padding-box !important;
}
.pre-match-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.pre-match-card h5 {
  text-shadow: 0px 3px 6px #000000;
  font-weight: 300;
  font-size: 15px;
}
.pre-match-card .card-footer {
  background-color: transparent;
  border-top: medium none;
  padding-top: 0;
}
.pre-match-card .card-footer .label-score {
  background: #00011580 0% 0% no-repeat padding-box;
  border: 0.5px solid #FFFFFF;
  border-radius: 18px;
  height: 29px;
  padding: 5px 15px;
  font-size: 12px;
}

.main-content .header {
  background-color: transparent !important;
}

.pre-match-country {
  margin-top: 10px;
  font-size: 11px;
  display: flex;
}
.pre-match-country .flag-left {
  flex-basis: 26px;
  text-align: center;
  flex-direction: start;
}
.pre-match-country .flag-left img {
  display: block;
  margin: 0 auto;
}
.pre-match-country .middle-box-vs {
  flex-basis: 80%;
  text-align: center;
  padding: 6px;
  font-size: 15px;
  position: relative;
}
.pre-match-country .middle-box-vs::before {
  content: "";
  width: 37%;
  height: 1px;
  left: 10px;
  top: 18px;
  background-color: #fff;
  position: absolute;
}
.pre-match-country .middle-box-vs::after {
  content: "";
  width: 37%;
  height: 1px;
  right: 10px;
  top: 18px;
  background-color: #fff;
  position: absolute;
}
.pre-match-country .flag-right {
  flex-basis: 26px;
  text-align: center;
  flex-direction: end;
}
.pre-match-country .flag-right img {
  display: block;
  margin: 0 auto;
}

.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}

.pre-match-card {
  border-radius: 18px;
  background: transparent url("/img/soccer.jpg") 0 0/cover no-repeat padding-box !important;
}
.pre-match-card::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.6);
  border-radius: 15px;
}
.pre-match-card h5 {
  text-shadow: 0px 3px 6px #000000;
  font-weight: 300;
  font-size: 15px;
}
.pre-match-card .card-footer {
  background-color: transparent;
  border-top: medium none;
  padding-top: 0;
}
.pre-match-card .card-footer .label-score {
  background: #00011580 0% 0% no-repeat padding-box;
  border: 0.5px solid #FFFFFF;
  border-radius: 18px;
  height: 29px;
  padding: 5px 15px;
  font-size: 12px;
}

.single-prematch-country {
  font-size: 11px;
  display: flex;
  justify-content: space-between;
}
.single-prematch-country .flag-left {
  flex-basis: 26px;
  text-align: center;
  flex-direction: start;
}
.single-prematch-country .flag-left img {
  display: block;
  margin: 0 auto;
}
.single-prematch-country .middle-box-vs {
  flex-basis: 80%;
  text-align: center;
  padding: 6px;
  font-size: 15px;
  position: relative;
}
.single-prematch-country .middle-box-vs::before {
  content: "";
  width: 35%;
  left: 10px;
  top: 18px;
  position: absolute;
}
.single-prematch-country .middle-box-vs::after {
  content: "";
  width: 35%;
  right: 10px;
  top: 18px;
  position: absolute;
}
.single-prematch-country .flag-right {
  flex-basis: 26px;
  text-align: center;
  flex-direction: end;
}
.single-prematch-country .flag-right img {
  display: block;
  margin: 0 auto;
}
.single-prematch-country .game-venue,
.single-prematch-country .game-date {
  font: normal normal normal 15px/20px Assistant;
  color: #DF1B1B;
}
.single-prematch-country .game-date {
  color: #fff;
}

.el-table .cell {
  padding-left: 0px;
  padding-right: 0px;
}

.single-prematch-card {
  border-radius: 18px;
}
.single-prematch-card::before {
  content: "";
  position: absolute;
  width: 75%;
  left: 12.5%;
  height: 60px;
  background: rgba(0, 0, 0, 0.6);
  top: 65px;
}
.single-prematch-card h5 {
  text-shadow: 0px 3px 6px #000000;
  font-weight: 300;
  font-size: 15px;
}
.single-prematch-card .card-body {
  position: absolute;
  width: 70%;
  left: 15%;
  top: 68px;
  padding: 0;
}

.main-content .header {
  background-color: transparent !important;
}
